@import url("https://fonts.googleapis.com/css2?family=Poppins:200;300;400;500;600;700;800;900&display=swap");
@import url("https://rsms.me/inter/inter-ui.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.taxi {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
.taxi .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
}
.taxi .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.taxi .contentBx {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.taxi .contentBx .formBx {
  width: 50%;
}
.taxi .contentBx .formBx h2 {
  color: rgb(24, 13, 17);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #795863;
  display: inline-block;
  letter-spacing: 1px;
}
.taxi .contentBx .formBx .inputBx {
  margin-bottom: 20px;
}
.taxi .contentBx .formBx .inputBx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #6b7d7d;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}
.taxi .contentBx .formBx .inputBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #6b7d7d;
  font-size: 16px;
  letter-spacing: 1px;
  color: #6b7d7d;
  background: transparent;
  border-radius: 30px;
}
.taxi .contentBx .formBx .inputBx input[type="submit"] {
  background: #fb8500;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.taxi .contentBx .formBx .inputBx input[type="submit"]:hover {
  background: #5dee3d;
}
.options{
  font-size: 16px;
  border-radius: 50%;
  border-color: #333;
  padding: 10px;
}

/*Media Control*/
@media (max-width: 768px) {
  .taxi .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .taxi .contentBx {
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  .taxi .contentBx .formBx h {
    width: 100%;
    padding: 40px;
    background: rgb(213, 122, 51);
    margin: 50px;
  }
}